.foo {
  float: left;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  /*margin: 5px;*/
/*  border: 1px solid rgba(0, 0, 0, .2);*/
}

.blue {
  background: #13b4ff;
}

.green {
  background: #008000;
}

.wine {
  background: #ae163e;
}

.yellow {
    background: #ffff1a;
}

.orange {
    background: #e68a00;
}

.firstcol {
  border-right: 1px solid #e6e6e6;
}
.lastcol {
  border-left: 1px solid #e6e6e6;
}

#redFilledCircle {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

#greenFilledCircle {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: green;
}

#yellowFilledCircle {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: yellow;
}
table thead {
   background-color: #e6e6e6;
}

.paging_full_numbers .ui-button {
padding: 2px 6px;
margin: 0;
cursor: pointer;
* cursor: hand;
}